@-moz-document regexp("https?://(en|simple).wikipedia.org/wiki/.*") {
  div#footer[role="contentinfo"],
  div#mw-head-base.noprint,
  div#mw-page-base.noprint,
  div#mw-navigation,
  div#siteSub {
    display: none;
  }
  div#content.mw-body[role="main"],
  div#toc.toc,
  table.ambox,
  table.wikitable,
  table.vertical-navbox,
  .catlinks,
  .infobox,
  .NavHead,
  .toccolours,
  code {
    background-color: transparent;
    color: inherit;
  }
  body.mediawiki {
    background-color: #073642;
    color: #839496;
    font-family: "Ubuntu";
    margin: 0 auto;
    max-width: 48em;
  }
  div#content.mw-body[role="main"] {
    border-style: none;
    margin-left: 0;
  }
  div#content.mw-body[role="main"] h1#firstHeading.firstHeading,
  div#content.mw-body[role="main"] h2,
  div#content.mw-body[role="main"] h3,
  div#content.mw-body[role="main"] h4,
  div#content.mw-body[role="main"] h5,
  div#content.mw-body[role="main"] h6 {
    background-color: transparent;
    color: inherit;
    font-family: inherit;
  }
  a {
    color: #a6e22e;
  }
  a:visited {
    color: #aaf;
  }
  table.wikitable > tr > th,
  table.wikitable > * > tr > th,
  table.wikitable th[scope="col"] {
    background-color: transparent;
    color: inherit;
  }
  a.new,
  div.thumbinner {
    background-color: transparent;
    color: inherit;
  }
  .mwe-math-fallback-png-inline.tex,
  img.tex {
    background-color: #fff;
    color: #000;
    padding: 0.5em;
  }
  .infobox,
  .infobox th {
    background-color: transparent;
  }
  #bodyContent,
  .mw-body-content {
    font-size: 1em;
  }
}
