@-moz-document regexp("https?://(en|simple).wikipedia.org/wiki/.*")
	@import "_colours"

	Ubuntu = "Ubuntu"

	div#footer[role="contentinfo"]
	div#mw-head-base.noprint
	div#mw-page-base.noprint
	div#mw-navigation
	div#siteSub
		display none


	div#content
		margin-left 0 !important


	div#content
	#toc
	body.mediawiki
	div#content.mw-body
	table.ambox
	table.wikitable
	.catlinks
	.infobox
	.toccolours
	code
		background-color base02 !important
		color base0


	div#content
		#firstHeading
		h1
		h2
		h3
		h4
		h5
		h6
			background-color base02
			color base0


	table.wikitable
		> tr > th
		> * > tr > th
		th[scope="col"]
			background-color base02
			color base0


	a.new
	div.thumbinner
		background-color base02
		color base0


	.mwe-math-fallback-png-inline.tex
	img.tex
		background-color #fff
		color #000
		padding 0.5em


	.infobox
	.infobox th
		background-color base02 !important


	#bodyContent
	.mw-body-content
		font-size 1em


	a
		color #a6e22e


	a:visited
		color #aaf


	body
		font-family Ubuntu


	div#content
		#firstHeading
		h1
		h2
		h3
		h4
		h5
		h6
			font-family Ubuntu
