html.client-nojs
	body.mediawiki.ltr.sitedir-ltr.ns-0.ns-subject.skin-vector.action-view
		div#mw-page-base.noprint
		div#mw-head-base.noprint
		div#content.mw-body(role="main")
			div#siteNotice
			div.mw-indicators
			h1#firstHeading.firstHeading
			div#bodyContent.mw-body-content
				div#siteSub
				div#contentSub
				div#jump-to-nav.mw-jump
				div#mw-content-text.mw-content-ltr
					div.hatnote
					div#toc.toc
						div#toctitle
							h2
						ul
							li.toclevel-1.tocsection-1
					p Content goes here.
					h2
						span.mw-headline
						span.mw-editsection
					h3
						span.mw-headline
						span.mw-editsection
				div.printfooter
				div#catlinks.catlinks
					div#mw-normal-catlinks.mw-normal-catlinks
				div.visualClear
		div#mw-navigation
		div#footer(role="contentinfo")
